html {
  color: #525252;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0
}

button {
  background-color: #fff;
  border-radius: 1rem;
  border: 2px solid #525252;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input {
  border-radius: 1rem;
  border: 2px solid #525252;
  padding: 0.5rem 1rem;
}

/* When the checkbox is checked, add a blue background */
.list-item input:checked ~ {
  background-color: #000;
}

li {
  list-style: none;
  margin: 0;
  padding: 2px;
  justify-content: space-between;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

.fullscreen {
  position: fixed;
}

@media (min-aspect-ratio: 16 / 9) {
  .video-player iframe, .video-player video {
      height: 86.25vw !important;
  }

}

.desktop {
  position: absolute;
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 1rem;
  align-items: flex-end;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.3rem;
  gap: 1rem;
  margin: 1rem;
  
}
.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 4rem;
  min-height: 80vh;
  z-index: 1;
  text-align: center;
}

.navbar-title {
  padding: 0.7rem;
}

.navbar-text {

  line-height: 10px;
  font-size: 0.75rem
}


.navbar-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar-icon {
  font-size: 1.5rem;
}

.navbar-item {
  gap: 2rem;
  cursor: pointer;
}

hr.divisor {
  border-top: 1px solid #525252;
  width: 50%;
}

.timer {
  position: relative;
  width: 20rem;
  height: 10rem;

}

.timer-body {
  display: flex;
  align-items: center;

}

.timer-countdown {
  font-size: 2.5rem;
}

.todo-list {
  position: relative;
  width: 20rem;
  min-height: 10rem;
  margin-left: auto;
  margin-right: 3rem;
}

.box-title {
  display: flex;
  justify-content: space-between;
  grid-area: 1;
}


.todo-list-content {
  min-height: 4rem;
}

.list-item {
  display: block;
}

.todo-list-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}


.video-player iframe, .video-player video {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
